{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // 要支持的浏览器
          "chrome": "67",
        },
        "useBuiltIns": "usage" // 按需引入, 没使用到的 es6 代码不进行 polyfill
      }
    ],
    "@babel/preset-react"
  ]
}